thread = 1
cpath = "./skynet/cservice/?.so"
bootstrap = "snlua bootstrap"

start = "client"
harbor = 0

_DEBUG = TRUE

lualoader = "./skynet/lualib/loader.lua"

luaservice = "./service/?.lua;" .. "./service/?/init.lua;" .. "./skynet/service/?.lua;"

lua_path = "./utility/?.lua;" .. "./?.lua;" .. "./service/?.lua;" .. "./lualib/?.lua;" .. "./skynet/lualib/?.lua;" .. "./skynet/lualib/?/init.lua;"

lua_cpath = "./luaclib/?.so;" .. "./skynet/luaclib/?.so"